// column layouts
// http://csswizardry.com/2013/02/responsive-grid-systems-a-solution/

@mixin sensibleGrid (
    $modern: false,
    $gutter: 20px,
    $gutterModifiers: (
        "no-gap"            : 0,
        "double"            : 40px,
        "triple"            : 60px
    ),
    $base-font-size: 16px,
    $slug: "l-",
    $pushClasses: false,
    $gridWidths: (
        "one-whole"         : 100%,
        "one-half"          : 50%,
        "one-quarter"       : 25%,
        "three-quarters"    : 75%,
        "one-third"         : 33.333%,
        "two-thirds"        : 66.666%,
        "one-fifth"         : 20%,
        "four-fifths"       : 80%,
        "one-sixth"         : 16.666%,
        "five-sixths"       : 83.333%
    ),
    $gridBreakpoints: "not-tablet" "tablet" "tablet-portrait" "not-mobile" "mobile" "mobile-portrait" "print"
) {
    //class that wraps a grid cols
    %#{$slug}grid,
    .#{$slug}grid {

        @if $modern {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        } @else {
            //fixes the webkit inline-block issue
            font-size: 0.1px;
        }

        margin-right: -$gutter;

        %#{$slug}grid-cell,
        .#{$slug}grid-cell {
            //cells only have a gutter inside the grid
            padding-right: $gutter;
            @if $modern == false {
                font-size: $base-font-size;
            } @else {
                display: block;
            }
        }

        @if $gutterModifiers != false {
            @each $gutterModifier, $newGutter in $gutterModifiers {
               &--#{$gutterModifier} {
                    margin-right: -$newGutter;
                    %#{$slug}grid-cell,
                    .#{$slug}grid-cell {
                        padding-right: $newGutter;
                    }
               }
            }
        }

        &--gapped {
            & > %#{$slug}grid-cell,
            & > .#{$slug}grid-cell {
                margin-bottom: $gutter;
            }
        }

    }

    %#{$slug}grid-cell,
    .#{$slug}grid-cell {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
    }


    //includes the default classes
    @include sensibleGridClasses($device: false, $slug: $slug, $pushClasses: $pushClasses, $gridWidths: $gridWidths);

    //includes the classes for the bereakpoints listed in $gridbreakpoints
    @each $breakpoint in $gridBreakpoints {
        @include breakpoint( $breakpoint ) {
            @include sensibleGridClasses( $device: $breakpoint, $slug: $slug, $pushClasses: $pushClasses, $gridWidths: $gridWidths );
        }
    }
}

// generate classes for grid cells
@mixin sensibleGridClasses (
    $device: false,
    $slug: "l-",
    $pushClasses: false,
    $gridWidths: (
        "one-whole"         : 100%,
        "one-half"          : 50%,
        "one-quarter"       : 25%,
        "three-quarters"    : 75%
    )
) {
    $deviceString: null;

    @if $device {
        $deviceString: "#{$device}-";
    }

    // loops the $gridWiths map
    @each $gridWidth, $width in $gridWidths {
        %#{$slug}#{$deviceString}#{$gridWidth},
        .#{$slug}#{$deviceString}#{$gridWidth} {
            width: $width;
        }
        @if $pushClasses {
            %#{$slug}push-#{$deviceString}#{$gridWidth},
            .#{$slug}push-#{$deviceString}#{$gridWidth}{
                margin-left: $width;
            }
        }
    }
}
